<h1>List of All Lines</h1>

<ul>
	<% @lines.each do |line| %>
		<li><a href="http://localhost:3000/lines/<%= line.id %>"><%= line.name %></a></li>
	<% end %>
</ul>

<a href="http://localhost:3000/lines/new">Add a New Line</a>