<h1>List of All Lines</h1>

<ul>
	<% @lines.each do |line| %>
		<li>
			<%= link_to line.name, train_line_url(line.id) %>
			|
			<%= link_to "Delete", train_line_url(line.id), :method => :delete %>
		</li>
	<% end %>
</ul>

<%= link_to "Add a New Line", new_train_line_url %>