<h1>List of All Lines</h1>

<ul>
	<% @lines.each do |line| %>
		<li>
			<%= link_to line.name, "http://localhost:3000/lines/#{line.id}" %>
			|
			<%= link_to "Delete", "http://localhost:3000/lines/#{line.id}", :method => :delete %>
		</li>
	<% end %>
</ul>

<%= link_to "Add a New Line", "http://localhost:3000/lines/new" %>